<!DOCTYPE html>
<html lang="en" ng-app="stackApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docker Manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/angular-growl.css">
    <script src="/static/angular-growl.js"></script>
    <script src="/static/stack.js"></script>
</head>

<body ng-controller="StackController">
    <div growl></div>
    <div class="container">

        <div class="starter-template">
            <h1>Docker stack manager</h1>

            <div class="panel panel-default">
                <div class="panel-heading">Start new stack</div>
                <div class="panel-body">
		<p>To start a new stack, enter a unique identifier, then choose the type of stack and the version you wish to create. Note that creating a stack can take a short while if the versions aren't already available on this server.</p>
                    <form class="form-inline" ng-submit="createStack()">

                        <div class="form-group">
                            <label class="sr-only" for="name">Identifier</label>
                            <input type="text" class="form-control" id="name" placeholder="Identifier" ng-model="identifier">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="stack">Stack</label>
                            <select class="form-control" id="scope" ng-model="scope">
                                <option ng-repeat="scope in scopes" value="{{ scope }}">Scope: {{ scope }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="stack">Stack</label>
                            <select class="form-control" id="stack" ng-model="newstack">
                                <option ng-repeat="stack in availableStacks" value="{{ stack.id }}">Stack: {{ stack.name }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Running stacks <a ng-click="refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
				
                            <th>Identifier</th>
<th>Scope</th>
                            <th>Stack</th>
                            <th>Versions</th>
                            <th>Connections</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="stack in running">
                        <td>{{ stack.identifier }}</td>
			<td>{{ stack.scope }}</td>
                        <td>{{ stack.stack.name }}</td>
                        <td>
                            <ul>
                                <li ng-repeat="(key, value) in stack.stack.versions">{{key}}:{{value}}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="port in stack.ports" ng-if="port.port.length>0"><a href="http://docker-test.cyberreveal.local:{{port.port[0][1]}}/">{{port.component}} ({{port.port[0][0]}} =&gt; {{port.port[0][1]}})</a>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a ng-click="deleteStack(stack.scope, stack.identifier, stack.stack.id)" class="btn btn-danger">Stop</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</body>

</html>
